/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
body {
  --chat-clips-gap-spacing: var(--size-4-2);
}
/* callout title */
.callout[data-callout^="chat-clips-folder"] {
  background-color: transparent;
}
.callout[data-callout^="chat-clips-comment"] {
  --callout-color: var(--callout-quote);
}
.callout[data-callout^="chat-clips-folder"] {
  --callout-icon: messages-square;
}
.callout[data-callout^="chat-clips-comment"] {
  --callout-icon: reply;
}
.callout[data-callout="chat-clips-comment-1"] {
  --callout-icon: message-circle;
}
.callout[data-callout^="chat-clips-folder"] {
  padding: 0;
}
.callout[data-callout^="chat-clips-folder"] > .callout-title {
  padding-left: var(--chat-clips-gap-spacing);
}
.callout[data-callout="chat-clips-folder-page"] > .callout-title > .callout-title-inner:before {
  content: "p. ";
}
/* title adjustment for comments (ref: https://forum.obsidian.md/t/callouts-without-title/50547) */
.callout[data-callout^="chat-clips-comment"],
.callout[data-callout-metadata="chat-clips-badge"] {
  /* align icon and content side-by-side */
  display: flex;
  align-items: flex-start;
  padding: var(--chat-clips-gap-spacing);
  /* hide title */
  /* remove top and bottom margins and add left margin */
  /* v-align icon in center of first line */
}
.callout[data-callout^="chat-clips-comment"] > .callout-title > .callout-title-inner,
.callout[data-callout-metadata="chat-clips-badge"] > .callout-title > .callout-title-inner {
  display: none;
}
.callout[data-callout^="chat-clips-comment"] > .callout-content p,
.callout[data-callout-metadata="chat-clips-badge"] > .callout-content p {
  margin-block: 0;
  margin-inline: var(--chat-clips-gap-spacing);
}
.callout[data-callout^="chat-clips-comment"] > .callout-content p:not(:first-child),
.callout[data-callout-metadata="chat-clips-badge"] > .callout-content p:not(:first-child) {
  margin-block-start: var(--chat-clips-gap-spacing);
}
.callout[data-callout^="chat-clips-comment"] > .callout-title,
.callout[data-callout-metadata="chat-clips-badge"] > .callout-title {
  line-height: inherit;
}
.callout[data-callout^="chat-clips-comment"] > .callout-title,
.callout[data-callout-metadata="chat-clips-badge"] > .callout-title,
.callout[data-callout^="chat-clips-comment"] > .callout-icon,
.callout[data-callout-metadata="chat-clips-badge"] > .callout-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* other */
[data-type="chat-clips-right-sidebar-view"] .chat-clips-div {
  user-select: text;
}
